@media screen and (min-width: 768px) {

.banner {
	width: 100%;
	background-image: url(banner.jpeg);
	background-size: cover;
	background-position: center;
	height: 4vw;
	text-align: center;
	color: white;
	font-size: 3vw;
	font-weight: bold;
}

body {
	width: 100%;
	background-image: url(background.jpg);
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	font-size: 1.2vw;
}

nav {
	position:-webkit-sticky;
	position: sticky;
	top: 0;
	box-shadow: 0 0.2em 1.2em black;
	background-color: #16191C;
	display: flex;
	height: 5vw;
	margin: 0;
	padding: 0;
	width: 100%;
}

.logo img {
	height: 100%;
}

.menu {
	display: flex;
	font-weight: bold;
	justify-content: space-evenly;
	list-style-type: none;
	align-content: center;
	margin: 0;
	padding: 0;
	width: 100%;
}

.menu li {
	font-size: 1.3vw;
	border-right: 0.1em solid white;
	border-left: 0.1em solid white;
	padding: 4vh 0.75em 0 0.75em;

}

.menu li>a {
	color: #2BF238;
	text-decoration: none;
	text-shadow: 0 -0.5px 0 white;
}

.menu li>a:hover {
	color: white;
}

.main_content {
	background-color: white;
	font-size: 1em;
	margin: 0 10% 0 10%;
	padding: 0.25em 1em 0.5em 1em;
}

hr {
	background-color: black;
	height: 0.1em;
}

#main-heading {
	font-size: 2vw;
	margin: 0.5em;
	text-align: center;
	text-transform: uppercase;
}

#task h2 {
	font-size: 1.5vw;
	text-align: center;
}

#task img {
	float: left;
	height: 20vw;
	width: 20vw;
}

#requirements h2 {
	border-bottom: solid;
}

.rm {
	border-left: solid;
	border-right: solid;
	border-top: solid;
	font-size: 1em;
	margin: 0 2em 0 2em;
	padding: 0.5em 0 0.75em 0;
	text-align: center;
}


.ra {
	border-top: solid;
	border-left: solid;
	border-right: solid;
	font-size: 1em;
	margin-bottom: 0;
	padding: 0.5em 0 0.75em 0;
	text-align: center;
}

.mee {
	float: left;
	height: 27vw;
	width: 20vw;
}

.r-m {
	display: flex;
	border-left: solid;
	border-bottom: solid;
	border-right: solid;
	justify-content: space-evenly;
	list-style-type: none;
	margin: 0 2em 0 2em;
	padding: 0 0 0.5em 0;
}

.r-m li {
	border: 1px solid;
	background-color: black;
	padding: 0.3em;
	color: white;
}

.r-m>li:hover {
	color: #2BF238;
}

.r-a {
	display: flex;
	border-bottom: solid;
	border-left: solid;
	border-right: solid;
	justify-content: space-around;
	list-style-type: none;
	margin-top: 0;
	padding: 0 0 0.5em 0;
}

.r-a li {
	border: 1px solid;
	background-color: black;
	color: white;
	padding: 0.3em;
}

.r-a>li:hover {
	color: #2BF238;
}

#submission h2 {
	border-bottom: solid;
}

.me2 {
	padding-left: 17.5em;
	list-style-type: none;
}

#grading {
	padding-left: 17.5em;
}

aside {
	background-color: white;
	margin: 0 10% 0 10%;
	padding: 0.5em 1em 0.75em 1em;
}

.impo {
	animation: animate 1.5s linear infinite;
	font-size: 1.5em;
	margin-bottom: 0;
}

@keyframes animate {
		0% {
			opacity: 0;
   }
   		50%{
     		opacity: 0.7;
   }
   		100%{
     		opacity: 0;
   }
}

.aside_content {
	border-top: solid;
}

#deadline ul>li {
	color: red;
	font-size: 1em;
}

.dummy p {
	padding-bottom: 0.25em;
	border-bottom: 0.1em solid;
}

footer {
	background-color: #20242E;
	color: white;
	float: left;
	margin: 0 0 0 0;
	padding: 0.5em 1em 0 1em;
	width: 100%;
}

.contacts {
	width: 22%;
}

.categories {
	font-size: 0.7em;
	margin-bottom: 0; 
	margin-left: 22%;
	padding-top: 0;
}

.categories ul {
	display: flex;
	justify-content: space-evenly;
	padding-top: 0;
}

.categories ul>li {
	border-left: 1px solid;
	border-right: 1px solid;
	list-style-type: none;
	margin-top: 0px;
	font-size: 1vw;

}

.categories h5 {
	margin-top: 0;
	text-align: center;
}

.categories ul>li>a {
	color: #2BF238;
	text-decoration: none;
}

.categories ul>li>a:hover {
	color: white;
}

.quick_links {
	margin: 0 0 0 22%;
	padding-top: 0;
}

.quick_links h5 {
	margin-top: 0;
	margin-bottom: 0.5em;
	text-align: center;
}

.quick_links ul {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 0px;
	margin-top: 0;
	padding-top: 0.5em;
}

.quick_links ul>li {
	border-left: 1px solid;
	border-right: 1px solid;
	list-style-type: none;
	font-size: 1vw;
}

.quick_links ul>li>a {
	color: #2BF238;
	text-decoration: none;
}

.quick_links ul>li>a:hover {
	color: white;
	text-decoration: none;
}

.map {
	display: inline-block;
	float: left;
	font-size: 0.7em;
	padding-right: 0.5em;
}

.map-it {
	height: 7vw;
	width: 10vw;
}
}

@media screen and (max-width: 768px) {

.banner {
	width: 100%;
	background-image: url(banner.jpeg);
	background-size: cover;
	background-position: center;
	height: 12vw;
	text-align: center;
	color: white;
	font-size: 7vw;
	font-weight: bold;
}

body {
	width: 100%;
	background-image: url(background.jpg);
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	font-size: 4vw;
}

nav {
	position:-webkit-sticky;
	position: sticky;
	top: 0;
	box-shadow: 0 0.2em 1.2em black;
	background-color: #16191C;
	display: flex;
	height: 15vw;
	margin: 0;
	padding: 0;
	width: 100%;
}

.logo img {
	height: 100%;
	width: 100%;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	font-weight: bold;
	justify-content: space-evenly;
	list-style-type: none;
	align-content: center;
	margin: 0;
	padding: 0;
	width: 100%;
}

.menu li {
	font-size: 3vw;
	border-right: 0.1em solid white;
	border-left: 0.1em solid white;
	padding: 2vw 0.75em 0 0.75em;

}

.menu li>a {
	color: #2BF238;
	text-decoration: none;
	text-shadow: 0 -0.5px 0 white;
}

.menu li>a:hover {
	color: white;
}

.main_content {
	background-color: white;
	font-size: 1em;
	margin: 0 5% 0 5%;
	padding: 0.25em 1em 0.5em 1em;
}

hr {
	background-color: black;
	height: 0.01em;
}

#main-heading {
	font-size: 5vw;
	margin: 0.5em;
	text-align: center;
	text-transform: uppercase;
}

#task h2 {
	font-size: 5vw;
	text-align: center;
}

#task img {
	float: left;
	width: 100%;
}

#requirements h2 {
	border-bottom: solid;
}

.rm {
	border-left: solid 0.1em;
	border-right: solid;
	border-top: solid;
	font-size: 1em;
	margin: 0;
	padding: 0.5em 0 0.75em 0;
	text-align: center;
}


.ra {
	border-top: solid;
	border-left: solid;
	border-right: solid;
	font-size: 1em;
	margin-bottom: 0;
	padding: 0.5em 0 0.75em 0;
	text-align: center;
}

.mee {
	float: left;
	width: 100%;
	height: 100%;
}

.r-m {
	display: flex;
	flex-wrap: wrap;
	border-left: solid;
	border-bottom: solid;
	border-right: solid;
	justify-content: space-evenly;
	list-style-type: none;
	margin: 0;
	padding: 0 0 0.5em 0;
}

.r-m li {
	border: 1px solid;
	background-color: black;
	padding: 0.3em;
	color: white;
}

.r-m>li:hover {
	color: #2BF238;
}

.r-a {
	display: flex;
	flex-wrap: wrap;
	border-bottom: solid;
	border-left: solid;
	border-right: solid;
	justify-content: space-around;
	list-style-type: none;
	margin-top: 0;
	padding: 0 0 0.5em 0;
}

.r-a li {
	border: 1px solid;
	background-color: black;
	color: white;
	padding: 0.3em;
}

.r-a>li:hover {
	color: #2BF238;
}

#submission h2 {
	border-bottom: solid;
}

.me2 {
	list-style-type: none;
}

aside {
	background-color: white;
	margin: 0 5% 0 5%;
	padding: 0.5em 1em 0.75em 1em;
}

.impo {
	animation: animate 1.5s linear infinite;
	font-size: 1.5em;
	margin-bottom: 0;
}

@keyframes animate {
		0% {
			opacity: 0;
   }
   		50%{
     		opacity: 0.7;
   }
   		100%{
     		opacity: 0;
   }
}

.aside_content {
	border-top: solid;
}

#deadline ul>li {
	color: red;
	font-size: 1em;
}

.dummy p {
	padding-bottom: 0.25em;
	border-bottom: 0.1em solid;
}

footer {
	background-color: #20242E;
	color: white;
	float: left;
	margin: 0 0 0 0;
	padding: 2vw;
	width: 100%;
}

.contacts {
	width: 30%;
}

.map {
	display: inline-block;
	float: left;
	font-size: 1vw;
	padding-right: 0.5em;
}

.map-it {
	height: 7vw;
	width: 11vw;
}

.categories {
	font-size: 0.7em;
	margin-bottom: 0; 
	margin-left: 30%;
	padding-top: 0;
}

.categories ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding-top: 0;
	padding-left: 0;
	margin: 0;
}

.categories ul>li {
	border-left: 1px solid;
	border-right: 1px solid;
	list-style-type: none;
	margin-top: 0px;
	font-size: 2vw;

}

.categories h5 {
	margin-top: 0;
	text-align: center;
	font-size: 2vw;
	margin-bottom: 2vw;
}

.categories ul>li>a {
	color: #2BF238;
	text-decoration: none;
}

.categories ul>li>a:hover {
	color: white;
}

.quick_links {
	margin: 0 0 0 30%;
	padding-top: 0;
}

.quick_links h5 {
	font-size: 2vw;
	margin-top: 2vw;
	margin-bottom: 0.5em;
	text-align: center;
}

.quick_links ul {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 0px;
	margin-top: 0;
	padding-top: 0.5em;
	padding-left: 0;
}

.quick_links ul>li {
	border-left: 1px solid;
	border-right: 1px solid;
	list-style-type: none;
	font-size: 1vw;
}

.quick_links ul>li>a {
	color: #2BF238;
	text-decoration: none;
}

.quick_links ul>li>a:hover {
	color: white;
	text-decoration: none;
}

}