.sight-container {
	margin-top: 30pt;
	margin-left: 140pt;
	margin-right: 140pt;
	font-family: sans-serif;

}

.sight1 {
	width: 250pt;
}

.sight2 {
	width: 250pt;
}

.sight3 {
	width: 250pt;
}

#line_block {
	float:left; 
    margin: 0 15px 15px 0; 
    padding: 10px;
}